/* CSS DU COMPOSANT APP */



/* ==================== RESPONSIVE (Mobile First) ==================== */

/* ---------- Header ---------- */
.myHeader {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 300px;
  /* padding: 0 0 0 30px; */
  background-image: url("https://dmsc62vqrvq4p.cloudfront.net/vitrine_v3/birdy-city.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-container
#logo {
  width: 50px;
  height: auto;
  margin: 20px;
}

.job-post {
  width: auto;
  margin: 40px 0 0 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.job-post
span {
  padding: 0;
  font-size: 18pt;
}

.job-post
p {
  padding: 0;
  font-size: 10pt;
}



/* ---------- Section : Introduction ---------- */

.introduction-section {
  position: relative;
  z-index: 2;
  background: var(--grey);
  color: white;
}

.introduction-container {
  text-align: start;
  padding: 30px 50px;
}

.introduction-container
h2 {
  font-weight: 700;
  text-transform: uppercase;
}

.introduction-container
p {
  font-weight: 600;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-container2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button {
  width: 200px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  color: var(--grey);
  font-weight: bold;
  padding: 15px;
  border: 2px solid var(--grey);
  cursor: pointer;
}

.button
a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--grey);
}

.button-container:hover {
  color: var(--green);
}

.button:hover {
  background-color: var(--grey);
  color: var(--green);
  border-color: var(--green);
}

.button
a:hover {
  color: var(--green);
}



/* ---------- Section : Réseaux sociaux ---------- */

.social-media-section {
  width: 100%;
  height: auto;
  background-color: white;
}

.social-media-container {
  padding: 30px;
  text-align: center;
}

.social-media-container
p {
  font-weight: bold;
  text-transform: uppercase;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.social-media-icons
img {
  width: 70px;
  cursor: pointer;
}



/* ---------- Section : Vidéo ---------- */

.video-container {
  width: 100%;
}

video {
  width: 100%;
  height: auto;
}



/* ---------- Section : Steven YAMBOS ---------- */

.steven-yambos-section {
  width: 100%;
  background-color: white;
}

.steven-yambos-container {
  width: 100%;
  background-color: white;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

#sub-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.text {
  margin: 0px 0;
  padding: 30px 0 0 0;
  font-size: 12px;
  font-weight: 600;
  text-align: start;
}

#web-button {
  text-transform: uppercase;
}

#informations-button {
  width: auto;
  height: auto;
  padding: 5px 10px;
  margin: 10px 0 0px 0;
  border: 2px solid var(--grey);
  color: white;
  background-color: var(--grey);
  text-transform: uppercase;
}

#informations-button:hover {
  background-color: white;
  border: 2px solid var(--grey);
  color: var(--grey);
}

#informations-button
img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  color: white;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(272deg) brightness(105%) contrast(106%);
  transform: rotate(-45deg) scaleX(-1);
  z-index: 10;
}

#informations-button
img:hover {
  filter: invert(10%) sepia(12%) saturate(625%) hue-rotate(163deg) brightness(93%) contrast(87%);
  transform: rotate(-45deg) scaleX(1);
}

#informations-button2 {
  width: auto;
  height: auto;
  padding: 5px 10px;
  margin: 10px 0 0px 0;
  border: 2px solid var(--grey);
  color: white;
  background-color: var(--grey);
  text-transform: uppercase;
}

#informations-button2:hover {
  background-color: white;
  border: 2px solid var(--grey);
  color: var(--grey);
}

#informations-button2
img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  color: white;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(272deg) brightness(105%) contrast(106%);
  transform: rotate(-45deg) scaleX(-1);
  z-index: 10;
}

#informations-button2
img:hover {
  filter: invert(10%) sepia(12%) saturate(625%) hue-rotate(163deg) brightness(93%) contrast(87%);
  transform: rotate(-45deg) scaleX(1);
}

#mobile-button {
  margin: 0px 0 30px 0;
  border: 2px solid var(--grey);
  text-transform: uppercase;
}



/* ---------- Section : Engagements ---------- */

.commitments-section {
  width: 100%;
  background-color: var(--grey);
}

.commitments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: white;
  padding: 30px 0;
  background-color: var(--grey);
  font-weight: 600;
  font-size: 12pt;
}

.commitments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 30px 0;
}

hr {
  width: 100%;
  height: 1px;
  color: white;
}

.commitments
span {
  font-size: 14pt;
  text-transform: uppercase;
}



/* ---------- Section : Expertise ---------- */

.expertise-section {
  width: 100%;
  background-color: white;
}

.expertise-container {
  text-align: center;
  padding: 30px;
}

.expertises {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expertise {
  width: 150px;
  height: auto;
  background-color: white;
  border-radius: 30px;
  color: var(--grey);
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border: 2px solid var(--grey);
  text-transform: uppercase;
  cursor: pointer;
}

/* Boutons */
.expertise:hover {
  background-color: var(--grey);
  color: var(--green); 
  border: 1px solid var(--green);
  cursor: pointer;
}



/* ---------- Section : Pourquoi moi ---------- */

.why-me-section {
  width: 100%;
  background-color: var(--grey);
}

.why-me-container {
  text-align: center;
  color: white;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qualities {
  margin: 30px 0 0 0;
  padding: 0 0 0 5px;
  text-align: start;
  font-size: 8pt;
  border-left: 2px solid white;
}

.qualities
p {
  padding: 3px 0;
}



/* ---------- Footer ---------- */

footer {
  width: 100%;
  height: auto;
}

footer
.footer-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer-container
h4 {
  font-weight: bold;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

.footer-container
span {
  line-height: 22px;
  font-size: 9pt;
  font-weight: 600;
}

.social-medias {
  width: 100%;
  text-align: center;
}

.social-medias
img {
  width: 15px;
  margin: 10px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: 10pt;
  font-weight: bold;
}










/* ==================== DESKTOP (À partir de 768px) ==================== */

@media only screen and (min-width : 768px) {



/* ---------- Header ---------- */

.myHeader {
  width: 100%;
  height: 100vh;
}

.logo-container
#logo {
  width: 120px;
  height: auto;
  margin: 30px;
}

.job-post {
  width: auto;
  margin: 15em 0 0 150px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.job-post
span {
  padding: 0;
  font-size: 64px;
}

.job-post
p {
  padding: 0;
  font-size: 45px;
}



/* ---------- Section : Introduction ---------- */

.introduction-container {
  padding: 100px 120px;
}

.introduction-container
h2 {
  font-size: 55px;
}

.introduction-container
p {
  font-size: 32px;
}

#little-text {
  font-size: 17px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.button {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 50px;
  color: var(--grey);
  font-size: 32px;
  font-weight: bold;
  padding: 15px 40px;
  border: 2px solid var(--grey);
  cursor: pointer;
}



/* ---------- Section : Réseaux sociaux ---------- */

.social-media-section {
  width: 100%;
  height: auto;
  background-color: white;
}

.social-media-container {
  padding: 50px 30px 30px 30px;
}

.social-media-container
h2 {
  font-size: 40px;
  margin: 33.2px;
  font-weight: bold;
  text-transform: uppercase;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px;
}

.social-media-icons
img {
  width: 146px;
  cursor: pointer;
}



/* ---------- Section : Vidéo ---------- */

.video-container {
  max-width: 1440px;
  margin: auto;
  height: 550px;

}

video {
  width: 100%;
  height: 100%;
}



/* ---------- Section : Steven YAMBOS ---------- */

.steven-yambos-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 105px;
}

#title {
  font-size: 64px;
  text-align: start;
}

#sub-title {
  font-size: 40px;
  font-weight: 700;
  text-align: start;
}

.text {
  margin: 24px 0;
  padding: 60px 0 0 0;
  font-size: 24px;
  font-weight: 600;
  text-align: start;
}

.bloc2
p {
  padding: 50px 0 59px 75px;
  font-size: 20px;
}

#web-button {
  border: 1px solid var(--grey);
  padding: 29px 67px;
  font-size: 40px;
  text-transform: uppercase;
}

.bloc2
.button-container {
  padding: 0 0 0 75px;
}

#informations-button {
  padding: 10px 28px;
  margin: 10px 0 0px 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

#informations-button
img {
  width: 16px;
  height: 16px;
}

.button-container2 {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-top: 30px;
  padding: 128px 0 0 0;
}

#mobile-button {
  margin: 0px 0 30px 0;
  padding: 29px 67px;
  font-size: 40px;
  border: 1px solid var(--grey);
}

.bloc3
.button-container {
  padding: 0 0 0 75px;
}

#informations-button2 {
  padding: 10px 28px;
  margin: 10px 0 0px 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

#informations-button2:hover {
  background-color: white;
  border: 2px solid var(--grey);
  color: var(--grey);
}

#informations-button2
img {
  width: 16px;
  height: 16px;
}



/* ---------- Section : Engagements ---------- */

.commitments-container {
  margin: auto;
  max-width: 1440px;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: white;
  background-color: var(--grey);
  font-weight: 600;
  font-size: 12pt;
}

.commitments-container
h2 {
  padding: 150px 105px 40px 105px;
  font-size: 64px;
  margin: 54px 0;
}

.commitments {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: start;
  padding: 60px 175px;
}

hr {
  width: 100%;
  height: 1px;
  color: white;
}

.commitments
span {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  width: 30%;
}
.commitments
p {
  width: 60%;
  margin: 20px 0;
  font-size: 20px;
}



/* ---------- Section : Expertise ---------- */

.expertise-container {
  margin: auto;
  text-align: start;
  /* padding: 90px 105px; */
}

.expertise-container
h2 {
  font-size: 64px;
}

.expertises {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* gap: 40px; */
}

 #front-end {
  padding: 50px 0 0 0;
 }

 #back-end {
  padding: 0 0 50px 0;
 }

/* Boutons */
.expertise {
  width: fit-content;
  background-color: white;
  border-radius: 60px;
  color: var(--grey);
  font-weight: bold;
  font-size: 40px;
  padding: 17px 30px;
  margin: 10px;
  border: 1px solid var(--grey);
  text-transform: uppercase;
  cursor: pointer;
}



/* ---------- Section : Pourquoi moi ---------- */

.why-me-container {
  max-width: 1440px;
  margin: auto;
  text-align: center;
  color: white;
  padding: 30px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

.title-qualities-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 105px 115px;
  gap: 50px;
}

.why-me-title {
  padding: 130px 0px 60px 0px;
}

.title-qualities-container
h3 {
  font-size: 48px;
  margin: 0;
}

.qualities {
  margin: 30px 0 0 0;
  padding: 35px 0 0 5px;
  text-align: start;
  font-size: 8pt;
  border-left: 2px solid white;
}

.qualities
p {
  font-size: 24px;
  padding: 0 30px 30px 40px;
}

#button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 150px 0;
}



/* ---------- Footer ---------- */

footer {
  width: 100%;
  height: auto;
}

footer
.footer-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.footer-container
h4 {
  font-size: 20px;
}

.footer-container
span {
  font-size: 16px;
}

.social-medias
img {
  width: 74px;
  padding: 12px;
  cursor: pointer;
}

.copyright {
  font-size: 16px;
  font-weight: 700;
}

}